.content {
    width: 100%;
}

.app-container {
    display: flex;
}

.sidebar {
    min-height: 700px;
    background-color: rgb(90, 85, 85);
    color: aliceblue;
}

.post-card {
    margin: 20px 30px;
    width: 30rem;
}

.hashtag {
    margin: px 3px;
}

.post-alert {
    margin: 10px
}

.creatpost {
    width: 500px;
    margin-left: 10%;
    margin-top: 50px;
    border: 2px solid red;
    border-radius: 10px;
    padding: 20px
}