h1 {
    font-weight: 800;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 25px;
}

input {
    width: 100%;
}

.iteam-container {
    text-align: left;
}

.kg-row {
    margin: 5px;
}

.kg-button {
    min-width: 100px;
}